@import 'tailwindcss';
#switch1 + div {
  position: relative;
}
#switch1 + div::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.25rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  background: white;
  border-radius: 9999px;
  transition: transform 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#switch1:checked + div::after {
  transform: translateY(-50%) translateX(1.8rem);
}
